@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-apple-dark bg-white;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
